@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-image: linear-gradient(to right, #42275a, #734b6d);
}

h1{
  height: 30px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-weight: 900;
  font-size: 35px;
  user-select: none;
}
h2{
  font-weight: 900;
  user-select: none;
  margin: 0;
  padding-top: 8px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 25px;
}

.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card{
  cursor: pointer;
   position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px); 
  width: calc(100% / 4 - 10px); 
}

.card.shake{
  animation: shake 0.35s ease-in-out;
  -webkit-animation: shake 0.35s ease-in-out;
}
@keyframes shake{
  0%,100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
}
  60%{
    transform: translateX(-8px);
}
  80%{
    transform: translateX(8px);
}
}

.cards .card .view{
  height: 100%;
  width: 100%;
  user-select: none;
  pointer-events: none;
  position:absolute;
  background: white;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25 linear;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
}

.card .front-view span{
  color: #734b6d;
  font-size: 40px;
}

.card .back-view{
  transform: rotateY(-180deg);
}

.card .back-view img{
  max-width: 45px;
}


.card.flip .back-view{
  transform: rotateY(0);
}
 .card.flip .front-view{
  transform: rotateY(180deg);
}
